body {
	text-align:center;
	font-family:verdana;
	}
	
.banner {
	margin-top:5%;
	padding: 50px;
	border-radius:10px;
	background-color:#7777CC;
	color:#FFFFFF;
	display:inline-block;
	font-size:30px;
	}

.loginBox {
	margin-top:5%;
	padding: 20px;
	border-radius:5px;
	background-color:#AAAACC;
	color:#FFFFFF;
	display:inline-block;
	}
	
.loginBox label {
	margin-right:5px;
	width:90px;
	text-align:right;
	font-size:16px;
	display:inline-block;
	color:#FFFFFF;
	}
	
.loginBox .header {
	font-size:20px;
	text-align:center;
	}
	
.loginBox textfield {
	width:100px;
	}
	
.registerBox {
	margin-top:5%;
	padding: 20px;
	border-radius:5px;
	background-color:#AAAACC;
	color:#FFFFFF;
	display:inline-block;
	}
	
.registerBox label {
	color:#FFFFFF;
	}
	
.registerBox input {
	width:156px;
	}
		
.registerBox select {
	width:156px;
	}
		
.message {
	margin-top:2%;
	margin-bottom:2%;
	margin-right:7%;
	padding:20px;
	border-radius:5px;
	background-color:#AACCAA;
	color:#FFFFFF;
	display:inline-block;
	font-size:20px;
	}
	
.map {
	padding:10px;
	border-radius:5px;
	display:inline-block;
	height:100%;
	width:70%;
	}
	
.centered {
	text-align:center;
	}
	
.content {
	margin-left:9%;
	}
	
#map_canvas {
    margin:0;
    padding:0;
    height:70%;
    width:90% !important;
    }
    
    
.errorMsg {
	color:red !important;
	}

.header {
	text-align:right;
	padding-top:1%;
	padding-right:2%
	}